@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
   
}

:root{
    --background-color:#080808;
    --surface-clr:#141414;
    --text-pri-clr:#fff;
    --text-sec-clr:#b1b1b1;
    --acent-clr:#7afc0f;

}
body{
    background: var(--background-color);
}



a{
    text-decoration: none;
}
li{
    list-style: none;
}
.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.between{
    justify-content: space-between;
}
.center{
    justify-content: center;
}
.wrapper{
    max-width: 1400px;
    margin: auto;

}

img{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}


/* * {
  border: 1px solid red !important;
} */